/*font-family: 'Poppins', sans-serif;*/
:root {
  --main-font: "Poppins", sans-serif;
  --accent-color: #ffb5a7;
  --main-color: #f8edeb;
}
body {
  background-color: var(--main-color);
}
h1,
h2,
h3 {
  font-family: var(--main-font);
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 60px;
  margin: 0;
}
h2 {
  font-size: 35px;
  margin: 0;
  padding-top: 70px;
}
h3 {
  font-size: 28px;
  padding-bottom: 20px;
}

.button-links {
  display: block;
  margin: auto;
  border: solid var(--accent-color) 2px;
  border-radius: 4px;
  background-color: var(--accent-color);
}
.link-branding {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.link-branding:hover {
  color: black;
}
