/*font-family: 'Poppins', sans-serif;*/
:root {
  --main-font: "Poppins", sans-serif;
  --accent-color: #ffb5a7;
  --main-color: #f8edeb;
}
.homepage-body {
  background-color: var(--main-color);
}
h1,
h2,
h3 {
  font-family: var(--main-font);
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 60px;
  margin: 0;
}
h2 {
  font-size: 35px;
  margin: 0;
  padding-top: 70px;
}
h3 {
  font-size: 28px;
  padding-bottom: 20px;
}
h4 {
  margin: 0;
  font-size: 35px;
}
h5 {
  font-size: 60px;
  font-weight: bold;
  font-family: var(--main-font);
  text-align: center;
}
.all-buttons {
  display: block;
  margin: 0;
  padding-top: 50px;
  text-align: center;
}
.button-links {
  border: solid var(--accent-color) 2px;
  border-radius: 4px;
  background-color: var(--accent-color);
}
.button-links:hover {
  box-shadow: 10px 10px 2px 1px #c0887d;
}

.link-branding {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.link-branding:hover {
  color: black;
}
.project-para {
  line-height: 25px;
}
.project-pic {
  border: solid 20px #fae1dd;
  border-radius: 10px;
}
.about-pic {
  border: solid 20px #fae1dd;
  border-radius: 10px !important;
}
.email-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.email-link:hover {
  text-decoration: underline 5px #9f7168;
  color: black;
}
.nav-link {
  color: black !important;
}
.nav-link:hover {
  color: var(--main-color) !important;
}
.nav-list {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: flex-end !important;
  align-content: flex-end !important;
  flex-direction: column;
}
